# Django
DJANGO_CONFIGURATION=Development
DJANGO_SECRET_KEY=ThisIsAnExampleKeyForDevPurposeOnly
DJANGO_SETTINGS_MODULE=settings

# Python
PYTHONPATH=/app/sandbox
PYTHONUNBUFFERED=1

# Synchronization
DJANGO_RICHIE_COURSE_RUN_SYNC_SECRETS=shared secret

# Payment form
PAYMENT_FORM_ADDRESS_VISIBILITY="{
            'vatId': 'optional',
            'address': 'hidden',
            'city': 'optional',
            'country': 'require'
            }"
PAYMENT_FORM_ADDRESS_DEFAULT_COUNTRY="FR"